@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{

	/* colori */
	
	--red: #c70706;
	--black: rgb(0, 0, 0);
	--white: rgb(255, 255, 255);

}

/* TRANSITION */


.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.flip-in-hor-bottom {
	-webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-top {
	0% {
	  -webkit-transform: translateY(-1000px);
			  transform: translateY(-1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
  }
  @keyframes slide-in-top {
	0% {
	  -webkit-transform: translateY(-1000px);
			  transform: translateY(-1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
  }

@-webkit-keyframes slide-in-left {
	0% {
	  -webkit-transform: translateX(-1000px);
			  transform: translateX(-1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	  opacity: 1;
	}
  }
  @keyframes slide-in-left {
	0% {
	  -webkit-transform: translateX(-1000px);
			  transform: translateX(-1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	  opacity: 1;
	}
  }

@-webkit-keyframes slide-in-right {
	0% {
	  -webkit-transform: translateX(1000px);
			  transform: translateX(1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	  opacity: 1;
	}
  }
  @keyframes slide-in-right {
	0% {
	  -webkit-transform: translateX(1000px);
			  transform: translateX(1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	  opacity: 1;
	}
  }

 @-webkit-keyframes flip-in-hor-bottom {
	0% {
	  -webkit-transform: rotateX(80deg);
			  transform: rotateX(80deg);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: rotateX(0);
			  transform: rotateX(0);
	  opacity: 1;
	}
  }
  @keyframes flip-in-hor-bottom {
	0% {
	  -webkit-transform: rotateX(80deg);
			  transform: rotateX(80deg);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: rotateX(0);
			  transform: rotateX(0);
	  opacity: 1;
	}
  }
  
  
  
  
  
  


/* MEDIA QUERY */

@media screen and (min-width:992px){
	.nav-item {
	line-height:80px;
	}

  }

/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {

	/* cambio file immagine in vista mobile */

	 .carousel-item:nth-child(1) img {
		content: url(/assets/img/carousel/mobile/spiderman2-hero-mobile.png);
	} 

	 .carousel-item:nth-child(2) img {
		content: url(/assets/img/carousel/mobile/assassins-creed-mobile.png);
	} 

	.carousel-item:nth-child(3) img {
		content: url(/assets/img/carousel/mobile/fc-24-mobile.jpeg);
	} 

	.carousel-item:nth-child(4) img {
		content: url(/assets/img/carousel/mobile/read-dead-redemption-mobile.png);
	} 
	
	.carousel-item:nth-child(5) img {
		content: url(/assets/img/carousel/mobile/forza-motorsport-mobile.png);
	} 

	.navbar-toggler{
		border: none !important;
	}
	
	#navbarDropdownMenuLink{
		margin: 8px !important;
	}

	.nav-link{
		margin: 8px !important;
	}

	.item-img{
		width: 100% !important;
	}

	#products h2{
		text-align: center;
	}

	#products .card{
		text-align: center;
	}


	#xbox-right{
		display: block !important;
	}

	.carousel-item img {

		height: 500px !important;

		
	}

	.item{
		width: 250px !important;
	}

	.card-game{
		width: 100% ;
	}

	.my-overflow-x-scroll {
		overflow-x: scroll !important;
	}	


	.my-row-sm{
		width: 100% !important;
	}

	.details-img{
		border-radius: 15px  !important;
		width: 100% !important;
	}

	
}


*{
	font-family: 'Poppins', sans-serif;
}

body{
	background-color: #ffffff;
}



/* OTHER STYLE */

/* TESTO SU SINGOLA RIGA */

.single-line-text {
    white-space: wrap;
}


#btn-back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
  }


  .set-bg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}


.paypal{
	background-color: #e4e7ea;
	padding: 70px;
}

.bg-footer{
	background-color: #4f4f4f;
}

#button-cart{
background-color: white !important;
border: 1px solid red !important;
color: red !important;
}


.bg-danger{
	background-color: red !important;
}

.nintendo-img{
	bottom: 0px;
	width: 100%;
}

.my-padding{
	padding: 40px;
}

a{
	text-decoration: none !important;
}

body, html{
	overflow-x: hidden !important;
	background-color: #fafafa !important;
}

.navbar-toggler{
	color: black !important;
}
