@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  /* colori */

  --red: #c70706;
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
}

/* TRANSITION */

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.flip-in-hor-bottom {
  -webkit-animation: flip-in-hor-bottom 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-elliptic-top-fwd {
	-webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-blurred-left {
	-webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.slide-in-blurred-right {
	-webkit-animation: slide-in-blurred-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.tracking-in-contract {
	-webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.slide-in-blurred-top {
	-webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.roll-in-right {
	-webkit-animation: roll-in-right 0.6s ease-out both;
	        animation: roll-in-right 0.6s ease-out both;
}
.roll-in-right2 {
	-webkit-animation: roll-in-right 0.7s ease-out both;
	        animation: roll-in-right 0.7s ease-out both;
}
.roll-in-right3 {
	-webkit-animation: roll-in-right 0.8s ease-out both;
	        animation: roll-in-right 0.8s ease-out both;
}
 @-webkit-keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
            transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(45deg);
            transform: translateX(0) rotate(45deg);
    opacity: 1;
  }
}
@keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
            transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(45deg);
            transform: translateX(0) rotate(45deg);
    opacity: 1;
  }
}



 @-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}


 @-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}



 @-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}



 @-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}



@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}



/* MEDIA QUERY */

@media screen and (min-width: 992px) {
  .nav-item {
    line-height: 80px;
  }
}

/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
  /* cambio file immagine in vista mobile */

  .carousel-item:nth-child(1) img {
    content: url(/assets/img/carousel/mobile/assassins-creed-mobile.png);
  }

  .carousel-item:nth-child(2) img {
    content: url(/assets/img/carousel/mobile/spiderman2.jpeg);
  }

  .carousel-item:nth-child(3) img {
    content: url(/assets/img/carousel/mobile/fc-24-mobile.jpeg);
  }

  .carousel-item:nth-child(4) img {
    content: url(/assets/img/carousel/mobile/read-dead-redemption-mobile.png);
  }

  .carousel-item:nth-child(5) img {
    content: url(/assets/img/carousel/mobile/forza-motorsport-mobile.png);
  }

  .navbar-toggler {
    border: none !important;
  }

  #navbarDropdownMenuLink {
    margin: 8px !important;
  }

  .nav-link {
    margin: 8px !important;
  }

  .item-img {
    width: 100% !important;
  }

  #products h2 {
    text-align: center;
  }

  #products .card {
    text-align: center;
  }

  #xbox-right {
    display: block !important;
  }

  .carousel-item img {
    height: 500px !important;
  }

  .item {
    width: 250px !important;
  }

  .card-game {
    width: 100%;
  }

  .my-overflow-x-scroll {
    overflow-x: scroll !important;
  }

  .my-row-sm {
    width: 100% !important;
  }

  .details-img {
    border-radius: 15px !important;
    width: 100% !important;
  }
  .error-404{
    font-size: 60px !important;

  }

  .error-404-span{
    font-size: 25px !important;
    text-align: center;
    padding: 50px;
    top: 350px !important ;

  }
  .mario-triste {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    filter: drop-shadow(0 0 0.75rem rgb(6, 6, 6));
  }

  .my-row{
    height: 150px !important;
  }

}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffffff;
}

/* OTHER STYLE */

/* TESTO SU SINGOLA RIGA */

.single-line-text {
  white-space: wrap;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.set-bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.paypal {
  background-color: #e4e7ea;
  padding: 70px;
}

.bg-footer {
  background-color: #4f4f4f;
}

#button-cart {
  background-color: white !important;
  border: 1px solid red !important;
  color: red !important;
}

.bg-danger {
  background-color: red !important;
}

.nintendo-img {
  bottom: 0px;
  width: 100%;
  filter: drop-shadow(0 0 0.5rem rgb(6, 6, 6));
}

.my-padding {
  padding: 40px;
}

a {
  text-decoration: none !important;
}

body,
html {
  overflow-x: hidden !important;
  background-color: #fafafa !important;
}

.navbar-toggler {
  color: black !important;
}

.input {
  margin-top: 30px;
  background: rgb(68, 68, 68);
  border: none;
  outline: none;
  width: 100%;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 9999px;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  color: white;
}

.search-input {
  background-color: rgb(39, 39, 39);
  color: white !important;
  border-radius: 15px;
}

.my-span {
  color: black !important;
}

.mario-triste {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  max-width: 1000px !important;
  filter: drop-shadow(0 0 0.75rem rgb(6, 6, 6));
}

.error-404{
  font-size: 150px ;
  color: white;
  position: absolute;
  bottom: 0px !important;
  top: 200px !important;
  text-shadow: #040404 0px 0px 25px;
}

.error-404-span{
  font-size: 50px ;
  color: white;
  position: absolute;
  bottom: 0px !important;
  top: 400px ;
  text-shadow: #040404 0px 0px 25px;
}

.button-backhome{
  position: absolute;
  top: 540px !important;
  background-image: linear-gradient(to right bottom, #f1c6a2, #f0c19e, #efbc9a, #eeb797, #edb294, #ebae91, #eaa98d, #e8a58a, #e6a186, #e39c81, #e1987d, #de9379);
  width: 320px;
  height: 280px;
  border-radius: 150px 150px 150px 150px;
  filter: drop-shadow(20px 5px 20px #000000);
}


.my-error-container{
position: absolute;
bottom: 0px !important;
}


.my-row{
  height: 210px;

}

.my-nintendo-container{
  box-shadow: rgb(55, 55, 55) 0px 8px 20px !important;
}

 .rombo{
  border-radius: 13px;
  padding:0;
  width: 45px;
  height: 45px;
  position: relative;
  margin-left: 4px;
    display:block;
    border-bottom:6px solid rgb(253, 0, 0);
    border-left:6px solid rgb(253, 0, 0);
    border-top:6px solid rgb(0, 0, 0);
    border-right:6px solid rgb(0, 0, 0);
    -ms-transform: rotate(45deg); /* IE 9 */
     -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
     transform: rotate(45deg);
  } 
    

.icon{
  color: rgb(0, 0, 0) !important;
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}

.rombo:hover{
  border-radius: 13px;
  padding:0;
  width:45px;
  height:45px;
  margin-left: 4px;
  position: relative;
    display:block;
    border-bottom:6px solid rgb(253, 0, 0);
    border-left:6px solid rgb(0, 0, 0);
    border-top:6px solid rgb(0, 0, 0);
    border-right:6px solid rgb(0, 0, 0);
    -ms-transform: rotate(-0deg) !important; /* IE 9 */
    -webkit-transform: rotate(-0deg) !important; /* Chrome, Safari, Opera */
    transform: rotate(-0deg) !important;
    transition: transform  1s ease-out both !important;
}

.rombo:hover .icon {
  transform: rotate(0deg) !important;
}


.svg{
  width: 22px !important;
  margin-right: 10px;
}




.form-container {
  width: 50%;
  background: linear-gradient(#ffffff, #ffffff) padding-box,
              linear-gradient(145deg, transparent 35%,#ff0000) border-box;
  border: 5px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
  /* filter: drop-shadow(0 0 0.5rem rgb(197, 197, 197)); */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-container button:active {
  scale: 0.1;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #000000;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #717171;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #ff1c1c;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #ff1c1c;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #ffffff;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #ff1d1d;
  border-color: #fff;
}




